<h2>Details on your <%= @restaurant.name %></h2>
<br>
<table class="table">
   <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Category</th>
    <th>Phone number </th>
  </tr>
  <tr>
    <td> <%= @restaurant.name %></td>
    <td> <%= @restaurant.address  %> </td>
    <td> <%= @restaurant.category %> </td>
    <td> <%= @restaurant.phone_number %></td>
  </tr>
</table>
